.hidden {
    display: none;
}
.highlight {
    background: rgb(214, 214, 136);
}
.center {
    text-align: center;
}
.number {
    display: inline-block;
    font-size: 16px;
    color: #483c32;
    background: lightgray;
    border: solid 2px gray;
    padding: 10px;
}
td {
    min-width: 100px;
    text-align: center;
    border: solid 1px green;
}
* {
    font-size: 16px;
    font-weight: normal;
}