extends layouts/shark-layout

block head
  title Top Tier Stores

block content
  h1 Top Tier Merchants
  table
    tr
      th store
      th Tier
    each store in stores
      tr
        td #{store.Store}
        td #{store.Tier}

