extends layouts/shark-layout

block head
  title Top Tier Stores

block content
  div Top tier merchants are worth double points

  table
    tr
      th Merchant
      th Tier
    each store in stores
      tr
        td #{store.Site}
        td #{store.Tier}

